body{
  margin:0;
  padding:0;
  background:#0f172a;
  font-family:sans-serif;
  color:white;
}

.container{
  padding:20px;
}

h1{
  text-align:center;
  color:#38bdf8;
}

.title{
  margin-top:30px;
  color:#38bdf8;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  margin-top:20px;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:white;
  font-size:16px;
}

input{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#334155;
  color:white;
  box-sizing:border-box;
}

.packages{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:20px;
}

.package{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
}

.package h3{
  margin:0;
  color:#38bdf8;
}

.package p{
  margin-top:10px;
}
